/* ********************************** navbar ************************************** */

nav {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: 100%;
    background: #34495e;
}
label.logo{
    font-size: 30px;
    color: #f1f1f1;
    padding: 0 100px;
}

nav > ul {
    float: right;
    margin-right: 40px;
   list-style: none;
   
}

nav > ul> li {
    display: inline-block;
    margin: 0 15px;
    line-height: 50px;
    text-transform: uppercase;
}
nav > ul > li a{
    text-decoration: none;
    letter-spacing: 2px;
    color: #f1f1f1;
}
nav > ul > li a:hover{
    color: #bea4a4;
}

.bar1, .bar2 {
    width: 20px;
    height: 2px;
    background-color:#f1f1f1;
    margin: 4px 0;
    transition: 0.4s;
  }

  #navicon{
   float: right;
   margin-top: 15px;
   cursor: pointer;
   display: none;
  }

  @media (max-width:1048px) {
    label.logo{
        padding-left: 50px;
        font-size: 25px;
    }
    nav > ul{
     margin-right: 20px;
    }
  }

  @media (max-width:909px){
     
    #navicon{
        display: block;
        padding-right: 10px;
    }
    nav>ul {
          position: fixed;
          width: 70%;
          height: 100vh;
          background: #2f3640;
          top:50px;
          left: -100%;
          text-align: center;
          transition: all .5s;
      }
      nav>ul.show{
          left: 0%;
      }

      nav > ul> li{
         display: block;
         text-align: left;
      }

      label.logo{
          font-size: 20px;
          padding-top: 8px;
          padding-left: 25px;
      }
  }

 
/* ***************************** main div ****************************************** */

h1{
    font-size: x-large !important;
}



.heading2{
    border-left: 10px solid green;
    border-bottom: 1px solid green;
    padding: 0 0 5px 10px;
    width: 50%;
    margin: auto;
}

.front-image{
    width: 50%;
    margin: auto;
}

.para{
    width: 50%;
    margin: auto;
}


.mytable{
    width: 50% !important;
    background-color: blanchedalmond;
    margin: auto !important;
    
}

/* #mytable tr{
    color: rgb(82, 33, 33);
} */

.price-table tr td{
    font-size: 15px;
}
.btn1{
    text-align: center !important;
    padding: 20px !important;
    
}

.btn1 img{
    width: 70px !important;
    height: 25px !important;
}
#flipkart-img{
    height: 50px;
}
.btn1 button{
    background-color: #f30a2d;
    margin: 0 10px !important;
    color: #f1f1f1;
    border-radius: 5px;
}

.price-chart{
    width: 50%;
    height: 70vh;
    margin: auto;
}
h6{
    text-align: center;
}

@media screen and (max-width:768px){
    .mytable{
       width: 100% !important;
       
       
    }

   .heading2, .para{
        width: 100%;
    }

    .front-image{
        width: 100%;
        margin: auto;
    }
    
    .price-chart{
        width: 100% !important;
        height: 50vh !important;
    }
}




/* ************************************************** footer*************************** */


.ft  a{
    text-decoration: none;
    color: white;
}
.ft a:hover{
    color: #4bcffa;
}
footer{
     font-family: 'Maven Pro', sans-serif;;
}



